/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    h1{
        font-size: 20px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    h1{
        font-size: 50px;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    h1{
        font-size: 90px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    h1{
        font-size: 100px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}