.btn{
    background-color: green;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 5px #000;
}

.btn:hover{
    background: red;
}

.btn:focus{
    background: yellow;
}