.box{
    width: 200px;
    height: 200px;
    background: red;
    margin: 50px auto;
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -ms-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;;
}

.box:hover{
    background: green;
    padding: 50px;
    border-radius: 50%;
}